
<div class="user-input">
  <p><%= @user_input %></p>
  <h5>-YOU</h5>
</div>
<div class="coach-answer">
   <p><%= @coach_answer %></p>
   <h5>-COACH ANSWER</h5>
</div>
<%=link_to 'Ask a question', ask_path%>

